<div class="main">
    <div [ngClass]="isLoading ? 'isLoadingActive' : 'isLoadingDisable'">
      <div class="loader"></div>
      <div class="background"></div>
    </div>
    <!-- Sing in  Form -->
    <section class="sign-in">
      <div class="container">
        <div class="signin-content">
          <div class="signin-image">
            <figure><img src="assets/images/signin-image.jpg" alt="sing up image"></figure>
            <a routerLink="/signup" class="signup-image-link">Create an account</a>
          </div>
  
          <div class="signin-form">
            <h2 class="form-title">Sign in</h2>
            <form class="register-form" id="login-form" [formGroup]="signinForm">
              <div class="form-group">
                <label for="username"><i class="zmdi zmdi-account material-icons-name"></i></label>
                <input type="text" name="username" id="username" placeholder="Your User Name" formControlName="username" autocomplete="off" />
              </div>
              <div class="form-group">
                <label for="password"><i class="zmdi zmdi-lock"></i></label>
                <input type="password" name="password" id="password" placeholder="Password" formControlName="password" autocomplete="off" />
              </div>
              <div class="form-group">
                <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
              </div>
              <div class="form-group form-button">
                <button
                  type="submit"
                  name="signin"
                  id="signin"
                  class="form-submit"
                  [ngClass]="{'form-active': signinForm.valid}"
                  [disabled]="!signinForm.valid"
                  (click)="onLogin()">Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>